html,
body {
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  width: 70%;
  display: table-cell;
  vertical-align: middle;
 
}

html {
  display: table;
  margin: auto;
}

.titulo {
  color: #42595e;
  text-align: center;
  background-color: #ffffff;
  font-size: 34px;
}

#logotipo {
  width: 200px;
  height: 200px;
  float: left;
}

#empresa {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 55%;
  top: 20%;
}


#content {
    float: left;
    width: 40%;
    justify-content: right;
  }

   
  
.container {
  padding: 2px 100px;
  margin: 50px;
    
    
}

  h3 {
    color: #29b6f6;
    font-size: 28px;
    margin-block-start: 0;
    display: block;
  }
  
  h4 {
    font-size: 15px;
  }
  
  #menu ul {
    padding: 0px;
    margin: 0px;
    background-color: none;
    list-style: none;    
    text-align: center;
    display: inline;
  }
  
  #menu ul li {
    display: inline;
  }
  
 
  
  #menu ul li a {
    padding: 5px 30px;
    display: inline-block;   
    color: rgb(104, 71, 104);
    text-decoration: none;
    font-size: 20px;
    margin: 24px;
  }
  
  #menu ul li a:hover {
    color: #29b6f6;
    border-bottom: 2px solid grey;
  }

  .paragrafo-2 {

   width: 400px;

  }

  #formulario {

    position: flex;
	left: 50%;
	top: 50%
    
}

#imgcontact {
  width: 700px;
  position: absolute;
  left: 48%;
  top: 20%;
}


button {
  
  background-color: #008CBA; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  }

  footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
    color: rgb(68, 66, 66);
    text-align: center;
    height: 50px;
    font-size: 12px;
    padding: 5px;
  }
  
  footer a {
    color: rgb(68, 66, 66);
  }